.vscode
netsimu/bin
netsimu/obj
netsimu/out
netsimu/old_experiments
netsimu/old_traces
netsimu/trace*
netsimu/max*
netsimu/experiment*
netsimu/best_case_*
netsimu/balanced_case_*
netsimu/nohup.out
netsimu/mn*
*.log

log*
*.out
*.csv
*.txt
*.png

# CMAKE
hwsimu/build/*
